@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Ubuntu', sans-serif;
    --font03: 'Roboto',sans-serif;

    --cor01: #006AD7;
    --cor02: #9AD9EA;
    --cor03: #21277B;
    --cor04: #5F83B1;
    --cor05: #FCFAEF;

    --background01: #263850;
    --background02Transparent: #26385062;
    --background02: #5173a0;
    --background02Transparent: #5173a073;
}

@media screen and (min-width:768px) and (max-width:992px) {
}

@media screen and (min-width:992px) {

}