@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Ubuntu', sans-serif;
    --font03: 'Roboto',sans-serif;

    --cor01: #006AD7;
    --cor02: #9AD9EA;
    --cor03: #21277B;
    --cor04: #5F83B1;
    --cor05: #FCFAEF;
    --cor06: #13213C;
}

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--font01);
    width: 100vw;
    height: 100vh;
}

#container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 80%;
    max-width: 400px;
}

#right {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right h1 {
    color: var(--cor01);
    font: bold 2em var(--font02);
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.input-container {
    border: 1px solid var(--cor06);
    height: 35px;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.input-container label {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

label span.plate-select,
label span.pass-select {
    height: 100%;
    width: 3%;
    background-color: transparent;
}

label input {
    width: 83%;
    height: 95%;
    border: none;
    font-size: 1.1em;
    padding-left: 5px;
}

label input:focus {
    outline: none;
}

label span.material-symbols-outlined {
    color: var(--cor01);
    width: 15%;
}

#submit {
    width: 65%;
    height: 35px;
    border: 1px solid var(--cor06);
    color: var(--cor01);
    background-color: transparent;
    border-radius: 10px;
    font: bold 1.2em var(--font02);
}