@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Ubuntu', sans-serif;
    --font03: 'Roboto',sans-serif;

    --cor01: #006AD7;
    --cor02: #9AD9EA;
    --cor03: #21277B;
    --cor04: #5F83B1;
    --cor05: #FCFAEF;

    --background01: #263850;
    --background02Transparent: #26385062;
    --background02: #5173a0;
    --background02Transparent: #5173a073;
}

@media screen and (min-width:768px) and (max-width:992px) {
    header {
        height: 60px;
    }

    div#mobile-icons {
        display: flex;
    }

    div#menu-icons {
        display: flex;
    }

    div#desktop-menu {
        display: none;
    }

    div#top-section section {
        height: 250px;
    }

    div#perfil-img {
        height: 215px;
    }

    section#section-rigth {
        margin-top: 25px;
    }

    section#section-rigth a, p {
        font-size: 1.5em;
    }

    section#bottom-secton h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width:992px) {

    header {
        height: 50px;
    }

    div#desktop-menu {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    div#mobile-icons {
        display: none;
    }

    div#perfil-min-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        height: 100%;
    }

    div#perfil-min-container p {
        font: bold 1.2em var(--font02);
        color: white;
    }

    div#min-perfil-img {
        width: 40px;
        height: 40px;
        background-color: white;
        margin: 5px;
    }
    
    main {
        display: flex;
        margin: auto;
        width: 50%;
        height: 90%;
        border: 1px solid black;
        border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    }

    div#top-section {
        width: 100%;
    }

    div#perfil-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    section#top-section {
        display: flex;
        width: 100%;
    }

    div#top-section section {
        height: 250px;
    }

    section#section-left {
        width: 35%;
    }

    div#perfil-img {
        height: 200px;
    }

    section#section-rigth {
        margin-top: 30px;
    }

    section#section-rigth a, p {
        font-size: 1.5em;
    }

    section#bottom-section {
        width: 100%;
    }

    div#formacoes,
    div#biogra,
    div#disciplinas {
    width: 90%;
    }  
}