@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Ubuntu', sans-serif;
    --font03: 'Roboto',sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--font01);
}

body {
    background-color: rgb(9, 9, 43);
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 350px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
}

div.container > h1 {
    padding-bottom: 25px;
}

.form-container {
    width: 100%;
    height: 100%;
}

div.input-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0px;

    font-family: var(--font02);
}

div.input-container > input {
    width: 90%;
    height: 25px;
}

div.input-container > label {
    font-size: 1.5em;
}

div.pass-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

div.pass-container > input {
    width: 100%;
    height: 25px;
}

div.pass-container > button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}